/* 
	fontes utilizadas por esse painel

	font-family: 'Nunito', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Nunito:wght@200&display=swap');
/*definição do brand*/
#navbar-site-title{
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	padding-left: 1.2%;
}
/*definição do form*/
#navbar-search-form{
	width: 350px;
}
/*definição do tamanho do campo busca*/
#navbar-search-field{
	width: 100%;
}
/*definição dos campos*/
.proj-form-field{
	border-radius: 9px;
	border-width: 1px;
	border-color: #bacad6ff;
	box-shadow: 0px 1px 2px rgba(164,164,164,0.2);
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}
/*definição do placeholder dos campos*/
.proj-form-field::placeholder{
	color: #c4c8ccff;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}